@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.circle {
  position: relative;
  width: 100px; 
  height: 100px;
  /* background: red; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular_text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 10s linear infinite;
}

@keyframes anim {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.circular_text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 50px; 
  font-size: 0.76em;
  white-space: nowrap; 
}


